
#home-container {
  /* border: solid white; */
  position: absolute;
  top: 12vh;
  left: 12vw;
  width: 84vw;
  height: fit-content;
  padding: 20px;
  
  
  .section-title {
    /* margin-bottom: 20;
    background-color: "rgba(0,0,0,0.5)";
    padding: "10px 20px";
    display: "inline-block";
    font-size: 25; */
    display: inline-block;
    padding: 15px 30px;
    margin: 10px 0;
    /* border-radius: 20px; */
    font-size: x-large;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

