@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Noto Sans";
  color: white;
  /* background: linear-gradient(#ff0c0c, #ff049f); */
}
body {
  background-image: url("../channels_banner.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: stretch;
}
#left-nav {
  width: 12vw;
  top: 12vh;
  height: 88vh;
  background-color: rgba(0, 0, 0, 0.612);
  border-right: solid 2px;
  p {
    /* border-bottom: solid white; */
    cursor: pointer;
    padding: 20px 24px;
    background-color: black;
    border-radius: 30px;
  }
  p:hover{
    /* border: solid red; */
    box-shadow: 0 0 8px 8px red;
    /* animation: itemAni 0.5s forwards; */
  }
}
#top-nav {
  height: 12vh;
  background-color: rgba(0, 0, 0, 0.612);
}
#main-content {
  position: absolute;
  width: 85vw;
  left: 13vw;
  top: 13vh;
  margin-right: 1vw;
  z-index: -1;
}
#home {
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.6);
}
@keyframes itemAni {
  100%{
    box-shadow: 0 0 8px 8px red;
    padding: 20px;
    padding-bottom: 0;
  }
}
.item:hover{
  animation: itemAni 0.5s forwards;
}